In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
# help(pd.Series)

In [5]:
myindex = ['USA', 'Canada', 'Mexico']

In [6]:
mydata = [1776, 1867, 1821]

In [14]:
myser = pd.Series(mydata, myindex)

In [15]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [16]:
myser[0]

C:\Users\jovan\AppData\Local\Temp\ipykernel_9716\3030946548.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  myser[0]

1776

In [17]:
myser['USA']

1776

In [18]:
ages = {'Sam' : 5, 'Frank' : 10, 'Spike' : 7}

In [19]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [20]:
q1 = {'Japan' : 80, 'China' : 450, 'India' : 200, 'USA' : 250}
q2 = {'Brazil' : 100, 'China' : 500, 'India' : 210, 'USA' : 260}

In [21]:
sales_q1 = pd.Series(q1)

In [22]:
sales_q2 = pd.Series(q2)

In [23]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [24]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [25]:
sales_q1['Japan']

80

In [26]:
sales_q1[0]

C:\Users\jovan\AppData\Local\Temp\ipykernel_9716\92651501.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sales_q1[0]

80

In [28]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [30]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [31]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [44]:
first_half = sales_q1.add(sales_q2, fill_value = 0)
first_half

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [41]:
sales_q1.dtype

dtype('int64')

In [45]:
first_half.dtype

dtype('float64')